/**/Content/obj/*
*.dll
*.config
*.exe
*.pdb
*.ase
/**/Properties
*.user
*.manifest
/**/Content/bin
/**/Content/bin/*
bin/DesktopGL/x86/**/*.txt
/*.png
/packages/
MorsArcium_Shared/Icon.ico
MorsArcium_Desktop/Content/*
MorsArcium_Desktop/bin/
MorsArcium_Desktop/obj
/.vs/
.vscode
.config
